<header>
    <nav class="top-nav">
        <div class="container">  
            <div class="row1 justify-content-start"></div> 
                <div class="col1">  
                    <ul class="top-nav__menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About us</a></li>
                        <li><a href="/product">Products</a></li>
                        <li><a href="/order">Order</a></li>
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/signin">Sign in</a></li>
                
                    </ul> 
                </div>
                
                <div class = "">
                    <button onclick="showgiohang()">
                    <span>   </span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 24 24">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                  <span id="soluong"> 0 </span>  </button>> 
                </div>
            </div>      
        </div>
    </nav>
    <section class="hero">
            <div class="container-fluid">
                <h1 class="hero__title"> <b>ATN SHOP</b></h1>
            </div>
    </section>
      <!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">ATN Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Product</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/order">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/report">Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/staff">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>-->
            

<!--
            <li class="nav-item">
              <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Youtube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">instagram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">whatsapp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">weibo</a>
            </li>

         </ul>
          
          <button onclick="showgiohang()">
            <span>   </span> 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 24 24">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          <span id="soluong"> 0 </span> -->
          

        
    </header>