:root{
  --dark: #2b2d42;

}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.top-nav{
  height: 70px;
  padding: 1rem 0;
  background: rgb(4,206,238);
  background: linear-gradient(90deg, rgba(4,206,238,1) 39%, rgba(215,44,241,1) 100%);
}
.top-nav__menu{
  display: flex;
  flex-flow: row nowrap; 
  /*align-items: center;*/
  float: left;
  padding: 0; 
  margin: 0;
  list-style-type: none;
  margin-right: 100px;
  padding-left: 50px;
  
}   

.top-nav__menu>li{
  margin-right: 3rem;
  padding-top: 0.5rem;
}

.top-nav__menu>li>a{
  text-decoration: none;
  font-family: 'Roboto';
  list-style: none;
  line-height: 20px;
  font-size: 20px !important;
  text-align: center;
  color:white;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

.top-nav__menu>li>a:active{
  color: deeppink
}


.hero{
  background-image: url("https://th.bing.com/th/id/OIP.pdOQzGrPZAXTD6lgvPYLLwHaFk?w=248&h=186&c=7&r=0&o=5&dpr=1.25&pid=1.7");
  padding-top : 10px;
  padding-bottom : 48px;
  height: 168px;
}
h1{
  text-align: center;
  color:rgb(51, 51, 51);  
  font-family: 'Calibri';
}

main{
  margin: 0;
  padding-top: 3rem;
  box-sizing: border-box;
  height: 2200px;
}
.main-top{
  padding-bottom: 20px;
}
a{
  text-decoration: none;
}

b{
  background-color: white;
  padding: 0 7px;
}

.row{
  padding-top:1rem;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.col{
  padding-top:2rem;
  width: 286px;
}
.h3-title{
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  line-height: 16px;
  overflow: hidden;
  color: #111;

}

.wp-price{
  font-family: 'Roboto','Arial',sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
}

.ins{
  color: #f00;
  font-weight: 600;
  font-size: 20px;
}

.del{
  color: #999;
  text-decoration: line-through;
  font-size: 15px;
}
.row6{
  display: flex;
}
.app-footer{
  background: rgb(4,206,238);
  background: linear-gradient(90deg, rgba(4,206,238,1) 39%, rgba(215,44,241,1) 100%);
  padding-top: 4rem ;
  padding-bottom: 2rem;
  
}
.app-footer__logo{
  padding-left: 7rem;
}
.app-footer__social-list{
  display: flex;
  flex-flow: row nowrap;  
  align-items: center;
  padding-top: 1rem; 
  margin: 0;
  list-style-type: none;
 
  
}
.app-footer__social-list > li{
  margin-right: 2rem;
}
.app-footer__social-list > li > a{
  color: black;
}

.app-footer__menu{
  display: flex;
  flex-flow: row nowrap; 
  padding-left: 100px; 
  margin: 0;
  list-style-type: none;
 
  
}   

.app-footer__menu>li{
  margin-right: 3rem;
  width: 70px;
}

.app-footer__menu>li>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.app-footer__menu>li>a:active{
  color: deeppink
}

.app-footer__text{
  font-size: 15px; 
  font-style: italic;
  padding-top: 3rem;
  float: right
}

table{
  border-spacing: 0px;
  width: 100%;
}

.table td, .table th{
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table tr:hover{
  background-color:#06d6a0 ;
}

.table tr:hover td > a{
  box-shadow: none;
}

.table .thead-dark th{
  color: #fff;
  background-color: var(--dark) ;
  border-color: #32383e;
}

.row4{
  width: 200px;
  float: right;
}

.border-shadow{
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-gradient{
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


body {
  /*padding-bottom: 3rem;*/
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

 Carousel base class 
/carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; 
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
